.accessibility-page {
    width: 100%;
    height: auto;
    background: #e0e0e0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.accessibility-box {
    margin-left: 2vw; /* 2% of viewport width for left margin */
    margin-right: 2vw;
    background: white;
    padding: 10px;
    height: auto;
}

.accessibility-box h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.accessibility-box h2 {
    margin: 20px;
}

.accessibility-box h3 {
    margin: 30px;
}

.accessibility-box p {
    margin: 30px;
}

.accessibility-box ul {
    margin: 30px;
    padding-left: 40px; /* indent bullet points */
}

.accessibility-box li {
    margin-bottom: 10px;
}
