.categories {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 0px;
  margin-bottom: 150px;
  box-sizing: border-box;
}

.categories h1{
    text-align: center;
    color: #323232;
    margin-bottom: 30px;
}
.categories-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.categories-images img{
    transition: 0.1s;
    width: 350px;
}
.categories-images img:hover{
    transition: 0.1s;
    transform: scale(1.01);
    cursor: pointer;
}
.categories-images img:active{
    opacity: 80%;
}

@media(max-width:500px){
   .categories-images {
    row-gap: 0;
    column-gap: 0;
   }
}