.breadcrum img{
    width: 10px;
    opacity: 50%;
}
.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}


@media(max-width:1280px) {
   .breadcrum{
    gap: 6px;
    font-size: 16px;
    margin: 30px 50px;
}
}

@media(max-width:1024px) {
   .breadcrum{
    gap: 5px;
    font-size: 13px;
    margin: 30px 30px;
}
}

@media(max-width:800px) {
   .breadcrum{
    gap: 5px;
    font-size: 12px;
    margin: 30px 10px;
}
}

@media(max-width:500px) {
   .breadcrum{
      gap: 3px;
      font-size: 10px;
    }
}