.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    height: 60px;
}
.profile-logo{
    height: 30px;
}

@media(max-width:800px) {
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        height: 50px;
    }
    .profile-logo{
        height: 25px;
    }
}