.loginsignup{
    width: 100%;
    height: 80vh;
    background: #c5ade7;
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 500px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 20px;

}
.loginsignup-fields input{
    height: 52px;
    width: 95%;
    padding-left: 25px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: rgb(255, 255, 255);
    background: #1770AA;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #1770AA;
    font-weight: 400;
}
.loginsignup-login span:hover{
    cursor: pointer;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-agree a{
    color: #1770AA !important;
    font-weight: 600;
    text-decoration:underline;
}
.loginsignup-agree a:hover{
    cursor: pointer;
}

@media(max-width:1280px){
    .loginsignup{
        padding-top: 50px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container h1{
        margin: 10px 0px;
    }
    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 65px;
        width: 93%;
    }
    .loginsignup-container button{
        width: 100%;
    }
    .loginsignup-login{
        font-size: 16px;
    }
}

@media(max-width:800px){
    .loginsignup{
        padding-top: 30px;
    }
    .loginsignup-container{
        width: auto;
        max-width: 400px;
        max-height: 430px;
    }
    .loginsignup-container h1{
        margin: 5px 0px;
        font-size: 24px;
    }
    .loginsignup-fields{
        gap: 15px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
        width: 93%;
    }
    .loginsignup-container button{
        width: 100%;
        height: 50px;
    }
    .loginsignup-login{
        font-size: 14px;
    }
    .loginsignup-agree{
      font-size: 15px;
    }
}

@media(max-width:500px){
    
    .loginsignup{
        padding-top: 20px;
        height: 60vh;
    }
    .loginsignup-container{
        width: auto;
        max-width: 400px;
        max-height: 430px;
        padding: 20px 40px;
    }
    .loginsignup-container h1{
        margin: 5px 0px;
        font-size: 20px;
    }
    .loginsignup-fields{
        gap: 15px;
        margin-top: 20px;
    }
    .loginsignup-fields input{
        font-size: 15px;
        height: 40px;
        width: 93%;
        border-radius: 10px;
    }
    .loginsignup-container button{
        width: 100%;
        height: 50px;
        border-radius: 10px;
    }
    .loginsignup-login{
        font-size: 14px;
    }
    .loginsignup-agree{
      font-size: 14px;
    }
}