/* SiteMap.css */

.sitemap-page {
    width: 100%;
    height: auto;
    background: #e0e0e0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sitemap-box {
    margin-left: 2vw;
    margin-right: 2vw;
    background: white;
    padding: 20px;
    height: auto;
}

.sitemap-box h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.sitemap-box h2 {
    margin: 20px;
}

.sitemap-box p {
    margin: 30px;
}

.sitemap-box ul {
    margin: 30px;
    padding-left: 40px; /* indent bullet points */
}

.sitemap-box li {
    margin-bottom: 10px;
}

.sitemap-box a {
    color: #007acc;
    text-decoration: none;
    font-weight: 500;
}

.sitemap-box a:hover,
.sitemap-box a:focus {
    text-decoration: underline;
    outline: none;
}
