.privacy-policy{
    width: 100%;
    height: auto;
    background: #e0e0e0;
    padding-top: 100px;
    padding-bottom: 100px;
}
.privacypolicy-box{
    margin-left: 2vw; /* 2% of viewport width for left margin */
    margin-right: 2vw;
    background: white;
    padding: 10px;
    height: auto;
}
.privacypolicy-box h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.privacypolicy-box h2{
    margin: 20px;
}
.privacypolicy-box h3{
    margin: 30px;
}
.privacypolicy-box p{
    margin: 30px;
}
